body{
  background-color: black;
  padding-top: 75px;
  padding-bottom: 75px;
}
.Profile{
  text-align: center;
}
.Profile h1{
  font-family: 'Pinyon Script', cursive;
  font-size: 4.25em;
  color: #ffffff;
  display: inline-block;
}
.Profile-Pic {
  width: 300px;
}
.ProfileBasicInfo{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.Profile-PhoneNumber{
  line-height: 10px;
  margin-bottom:30px;

}
.icons {
  margin-left: 13px;
}
.Summary p{
  color: #ffffff;
  margin-left:17.1875em;
  margin-top: 0em;
  line-height: 25px;
}

#SkillList{ 
margin-left: 9.375em;
color: #ffffff;
column-count: 2;
column-gap:  115px;
column-width: 6.25em;
line-height: 25px;
margin-left: 11.375em;
}

.JobPosition{
  color: #ffffff;
  margin-left: 10.875em;
  font-style: italic;
  margin-top: 0em;
  margin-bottom: 0em;
}
.ProfileHeaders {
  font-size: 1,25em;
  color: #7FA5F9;
  text-indent:0.625em;
  margin-top: 0em;
  margin-bottom: 0rem;
  
  display: inline-block;
}
.ProfileText {
    font-size: 1.625em;
    color: #ffffff;
    text-indent: 0.625em;
    display: inline-block;
    margin-top: 0em;
    margin-bottom:0em;
    
  }
.LineDivider {
  background-color: #7FA5F9; 
  color: #7FA5F9; 
  height: 0.01em; 
  border: 0; 
  width:10.75em; 
  margin-left:0.625em;
  clear: left;
}
.SubTags{
  font-size: 1.5em;
  color: #7FA5F9;
  display: inline-block;
  margin-left: 4.8175em;
  margin-bottom: 0.625em;
}
.TextList{
  color:#ffffff;
  margin-left: 11.375em;
  margin-top: 0em;
  line-height: 25px;
}
.components{
  color: green;
  margin-left:15.625em;
  margin-top: 0em;
}
