.Profile-Name h1{
  font-family: 'Pinyon Script', cursive;
  font-size: 70px;
  color: #ffffff;
  display: inline-block;
}
.Profile p{
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  color: #ffffff;
  display: inline-block;
  line-height: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.tags{
  display: inline-block;
  color: #7FA5F9;
  font-size:20px;
}
.JobPosition{
  color: #ffffff;
  margin-left: 10.875em;
  margin-top: 0em;
  margin-bottom: 0em;
}
.Summary {
  color: #ffffff;
  line-height: 25px;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}
.Projects{
  color: #ffffff;
  line-height: 25px;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}
.SubTags{
  font-size: 1.5em;
  color: #7FA5F9;
  text-align: left;
}
.TextList{
  color: #ffffff;
  line-height: 25px;
  text-align: left;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}
.components{
  color: green;
  margin-left:15.625em;
  margin-top: 0em;
}
.Education{
  color: #ffffff;
  line-height: 25px;
  text-align: left;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
}
.vl{
  color: green;
  margin-left: 1.625em;
  margin-top: 0em;
}

.flex-container{
  color: #ffffff;
  column-count: 2;
  column-gap:  115px;
  column-width: 6.25em;
  line-height: 25px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
  position: relative;
}
